/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */

body {
  background-image: url('fondo.jpg'); /* Ruta de la imagen */
  background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

/*CO*/
.columna {
float: left;
padding: 10px;
min-height: 500px;

}

.izquierda {
width: 20%;
min-height: 500px;
text-align: left;
margin: 10px;
}

.derecha {
width: 75%;
margin: 10px;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}


#c1 {
    background-color:rgb(49, 214, 206,0.8);
    border-radius: 40px;
}

#c2 {
    background-color:rgb(49, 214, 206,0.8);
    border-radius: 40px;
    
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.iresponsive {
    padding: 0 6px;
    
    width: 70%;
  }
button{
  border-radius: 10px;
  background-color: rgb(127, 255, 0);
}

.center{
  text-align:center;
}
.trans{
  background-color: rgb(127, 255, 0,0.5);
}

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 830px) 
{
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */